---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - f8c8899e41fee1eeab66ab2f2088d02b936a0693
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1489228752,"identifier":"client_credentials","expires_in":3600,"access_token":"77dfc4a3fccf485b67dd9e8c1cdca7ca229685f3","token_type":"Bearer"}
  recorded_at: Sat, 11 Mar 2017 09:39:12 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/products
    body:
      encoding: UTF-8
      string: '{"data":{"slug":"my-product1","sku":"123","manage_stock":false,"description":"Super
        Product","status":"live","commodity_type":"digital","type":"product"}}'
    headers:
      Authorization:
      - Bearer 77dfc4a3fccf485b67dd9e8c1cdca7ca229685f3
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - c90fb07c733fd7af3b66ff9dd7af8eccd649ddf9
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Failed Validation","detail":"The data.name field
        is required."}]}'
  recorded_at: Sat, 11 Mar 2017 09:39:13 GMT
recorded_with: VCR 3.0.3
