---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 8eb44a69ec6926e5250822595b63385ed3cdf344
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493140750,"identifier":"client_credentials","expires_in":3600,"access_token":"9ef6020c8eca3c6c51297eac5721861b13fcc314","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 16:19:10 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations?sort=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9ef6020c8eca3c6c51297eac5721861b13fcc314
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 9734b73e8220c1c4537b7539928ed74956901bf1
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 25 Apr 2017 16:19:12 GMT
recorded_with: VCR 3.0.3
