---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 92fb73fa6a625a1ae578d5ab40d4ef59d73f8acd
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493140753,"identifier":"client_credentials","expires_in":3600,"access_token":"9baca381710b745147454c4a202d9c6dbe479612","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 16:19:13 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations?sort=-name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9baca381710b745147454c4a202d9c6dbe479612
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 47b06fe15f1c2d004763d870c8e721a97c258963
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 25 Apr 2017 16:19:14 GMT
recorded_with: VCR 3.0.3
