---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - bc9f44b59c098d3d82adbd2fdefa4da07a64c55e
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493487355,"identifier":"client_credentials","expires_in":3600,"access_token":"74e97babca8f27cfca8f1e0551028f5522309e3d","token_type":"Bearer"}
  recorded_at: Sat, 03 Oct 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 74e97babca8f27cfca8f1e0551028f5522309e3d
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 8e0d3e0170ac4d23ba5d8d5e3ab8b9e77f135f8a
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"product-variation","id":"d1a62d4f-fb16-4610-8200-87e0a8a86d78","name":"My
        Variation","options":[{"id":"99677c20-8945-4dbb-a950-6332e6334a64","name":"My
        VariationOption","description":"Cool description","modifiers":[]},{"id":"b509454e-2310-4e6b-a0fa-b4baace3f63c","name":"My
        VariationOption","description":"Cool description","modifiers":[]},{"id":"3fdc70d3-b7ab-41b2-94ec-6b0f05031bfd","name":"My
        VariationOption","description":"Cool description","modifiers":[]},{"id":"e2bd0e86-a313-4146-9c53-a3295c44fda6","name":"My
        VariationOption","description":"Cool description","modifiers":[]},{"id":"984ef043-38c2-45ba-a6ff-52b2e1d1b505","name":"My
        VariationOption","description":"Cool descr[...]
- request:
    method: post
    uri: https://api.moltin.com/v2/variations/d1a62d4f-fb16-4610-8200-87e0a8a86d78/variation-options
    body:
      encoding: UTF-8
      string: '{"data":{"description":"my-variation1","type":"product-variation-option"}}'
    headers:
      Authorization:
      - Bearer 74e97babca8f27cfca8f1e0551028f5522309e3d
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 077bccb6393c1ab51032d88735db3bcd7d9715d9
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Failed Validation","detail":"The data.name field
        is required."}]}'
  recorded_at: Sat, 03 Oct 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
