---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 0b7bfd02922e41c52d341b5066d99c7af2d82ebc
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493141995,"identifier":"client_credentials","expires_in":3600,"access_token":"a4630651025b67af5f3477a775a5787191d5b285","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a4630651025b67af5f3477a775a5787191d5b285
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - ce38ed18db8ad492b2edb8ab0586b875b068e086
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":500,"title":"InternalServerError","detail":"Could
        not retreive store currency settings","request_id":"3b2e50c451b600b9"}]}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
