---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 9d068880c9e117a32c4b864c0ff41d345090831e
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491386019,"identifier":"client_credentials","expires_in":3600,"access_token":"98597be80f22435ac64d5686dac9362d3b6c66b8","token_type":"Bearer"}
  recorded_at: Wed, 05 Apr 2017 08:53:39 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/brands
    body:
      encoding: UTF-8
      string: '{"data":{"slug":"my-brand1","description":"Super Brand","status":"live","type":"brand"}}'
    headers:
      Authorization:
      - Bearer 98597be80f22435ac64d5686dac9362d3b6c66b8
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - ea3036f29f9e87e7889ec8994bb63d432b5f60a0
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Failed Validation","detail":"The data.name field
        is required."}]}'
  recorded_at: Wed, 05 Apr 2017 08:53:40 GMT
recorded_with: VCR 3.0.3
