---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 5afdc32db687875e3542636256c05139d8ec61c0
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493141054,"identifier":"client_credentials","expires_in":3600,"access_token":"60cddcdc7dfb3d2c99dd4fe87219d57e00860a16","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/variations
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Variation","type":"product-variation"}}'
    headers:
      Authorization:
      - Bearer 60cddcdc7dfb3d2c99dd4fe87219d57e00860a16
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 3489a0af258f3b6a91b400fa32060b1176c8fc38
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"d1a62d4f-fb16-4610-8200-87e0a8a86d78","name":"My
        Variation","options":[]}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/variations/d1a62d4f-fb16-4610-8200-87e0a8a86d78
    body:
      encoding: UTF-8
      string: '{"data":{"name":null,"type":"product-variation","id":"d1a62d4f-fb16-4610-8200-87e0a8a86d78"}}'
    headers:
      Authorization:
      - Bearer 60cddcdc7dfb3d2c99dd4fe87219d57e00860a16
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 49d85129d04712da717b3d25652ed48c49cf175f
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"d1a62d4f-fb16-4610-8200-87e0a8a86d78","name":"My
        Variation","options":[]}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
