---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 0cd8141ab69b9b0e072de4e5a07200d729def39b
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493140766,"identifier":"client_credentials","expires_in":3600,"access_token":"ab2e401e50070bde698cb9fa18e3460a1c295b30","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/variations
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Variation","type":"product-variation"}}'
    headers:
      Authorization:
      - Bearer ab2e401e50070bde698cb9fa18e3460a1c295b30
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - d3f54c03e8d672bbf111e18d7516379b467de96b
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"2dd085e5-8429-4d95-9182-44772701b6e9","name":"My
        Variation","options":[]}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/variations/2dd085e5-8429-4d95-9182-44772701b6e9
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My New Variation","type":"product-variation","id":"2dd085e5-8429-4d95-9182-44772701b6e9"}}'
    headers:
      Authorization:
      - Bearer ab2e401e50070bde698cb9fa18e3460a1c295b30
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 91efeaa6bca2774fad3b49312e715b215e969fc8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"2dd085e5-8429-4d95-9182-44772701b6e9","name":"My
        New Variation","options":[]}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/variations/2dd085e5-8429-4d95-9182-44772701b6e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ab2e401e50070bde698cb9fa18e3460a1c295b30
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 14531d27ca18aad6f30fff8790ecc7d58f4a1314
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"2dd085e5-8429-4d95-9182-44772701b6e9"}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
