---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - a4848977d3349f4ca1114c79bf7034efc9f04e30
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491553247,"identifier":"client_credentials","expires_in":3600,"access_token":"27b51f55996a5366e1c5ad33fe354e58a2d1dcda","token_type":"Bearer"}
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/categories
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Category","slug":"my-category-update-invalid-1","description":"Super
        Category","status":"live","type":"category"}}'
    headers:
      Authorization:
      - Bearer 27b51f55996a5366e1c5ad33fe354e58a2d1dcda
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 7ecab8f32f0b860c6b0c4e212a718f07e959ad52
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"3d1e308b-0572-4f08-9370-402f2ac33e1f","type":"category","status":"live","name":"My
        Category","slug":"my-category-update-invalid-1","description":"Super Category","relationships":{}}}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/categories/3d1e308b-0572-4f08-9370-402f2ac33e1f
    body:
      encoding: UTF-8
      string: '{"data":{"name":"","type":"category","id":"3d1e308b-0572-4f08-9370-402f2ac33e1f"}}'
    headers:
      Authorization:
      - Bearer 27b51f55996a5366e1c5ad33fe354e58a2d1dcda
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - a6752322ee6efda28d7ecbf81b09cfe243a14951
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Failed Validation","detail":"The data.name field
        is required."}]}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/categories/3d1e308b-0572-4f08-9370-402f2ac33e1f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 27b51f55996a5366e1c5ad33fe354e58a2d1dcda
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 1fba84106234da4888cc94e44004c7ad338a5fe8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"category","id":"3d1e308b-0572-4f08-9370-402f2ac33e1f"}}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
