---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - f3e853c8158c7d1403564c315740af4f90c1cf75
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1489137539,"identifier":"client_credentials","expires_in":3600,"access_token":"99c3bf207a7d090e01c4809626b3fa7d737f51fc","token_type":"Bearer"}
  recorded_at: Fri, 10 Mar 2017 08:19:00 GMT
recorded_with: VCR 3.0.3
