---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - cd224470bb08894ceeb6bdcdd0fc44a6015a995f
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1489137541,"identifier":"client_credentials","expires_in":3600,"access_token":"ac1fb323f1d377a30ccbb89bb78ef528dfbeda3e","token_type":"Bearer"}
  recorded_at: Fri, 10 Mar 2017 08:19:01 GMT
recorded_with: VCR 3.0.3
