---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 36afcf0fe26e152b9265022e48e9f3c4d0daec35
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1488961477,"identifier":"client_credentials","expires_in":3600,"access_token":"c91a308d6ca0104c1799aedba06411c721025a2b","token_type":"Bearer"}
  recorded_at: Wed, 08 Mar 2017 07:24:37 GMT
recorded_with: VCR 3.0.3
