---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 6d30bf4e22972007736a68a9be2db883fe7789ee
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1488952944,"identifier":"client_credentials","expires_in":3600,"access_token":"4ddb5fffe93a942cb8c0cbff159bbc4874038972","token_type":"Bearer"}
  recorded_at: Wed, 08 Mar 2017 05:02:24 GMT
recorded_with: VCR 3.0.3
