---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - a367a9cc3a7191d7e80cfa71cc2bb118d7ebbf1f
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1489137542,"identifier":"client_credentials","expires_in":3600,"access_token":"230a7f1d29f7b5d443c3cc907012e1228e708576","token_type":"Bearer"}
  recorded_at: Fri, 10 Mar 2017 08:19:02 GMT
recorded_with: VCR 3.0.3
