---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - dacc7f2004441e3f164b31e0221275c6f3676cc3
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493488980,"identifier":"client_credentials","expires_in":3600,"access_token":"09fe17841935915262c453c7295530cd5ea3c7cf","token_type":"Bearer"}
  recorded_at: Sun, 04 Oct 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/currencies
    body:
      encoding: UTF-8
      string: '{"data":{"exchange_rate":1,"format":"£{price}","decimal_point":".","thousand_separator":",","decimal_places":0,"default":false,"enabled":true,"type":"currency"}}'
    headers:
      Authorization:
      - Bearer 09fe17841935915262c453c7295530cd5ea3c7cf
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 754d7aebd70c518ff71052905034424360e1e25f
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"source":"code","title":"required","detail":"code is required"}]}'
  recorded_at: Sun, 04 Oct 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
