---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 92c64b54a3236e459acd0fae800ebf8d669f21b5
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492354510,"identifier":"client_credentials","expires_in":3600,"access_token":"6ff11fb337a153d41d3df13414d5584bc3662c4c","token_type":"Bearer"}
  recorded_at: Sun, 16 Apr 2017 13:55:10 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/categories
    body:
      encoding: UTF-8
      string: '{"data":{"slug":"my-category1","description":"Super Category","status":"live","type":"category"}}'
    headers:
      Authorization:
      - Bearer 6ff11fb337a153d41d3df13414d5584bc3662c4c
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - ab53d0979b8de8376ba2cf3bdddb9ed7bcabf067
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Failed Validation","detail":"The data.name field
        is required."}]}'
  recorded_at: Sun, 16 Apr 2017 13:55:12 GMT
recorded_with: VCR 3.0.3
