---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 4c9f31ac2bc6a10a3ccac1f4d81d27070ad48602
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491553237,"identifier":"client_credentials","expires_in":3600,"access_token":"1eaffddceffad95cfc5fe55d4578efa31b076049","token_type":"Bearer"}
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/categories
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Category","slug":"my-category1","description":"Super
        Category","status":"live","type":"category"}}'
    headers:
      Authorization:
      - Bearer 1eaffddceffad95cfc5fe55d4578efa31b076049
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 024b1221bd2d8fcf03cdf51bbcc13ffa2f06f196
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ccf901cd-5c0d-40c5-a195-876ea85c815f","type":"category","status":"live","name":"My
        Category","slug":"my-category1","description":"Super Category","relationships":{}}}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/categories/ccf901cd-5c0d-40c5-a195-876ea85c815f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1eaffddceffad95cfc5fe55d4578efa31b076049
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 8eb22a7cc732d16ec7011e9c39c7dd94be59b6b2
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"category","id":"ccf901cd-5c0d-40c5-a195-876ea85c815f"}}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
