---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 01949123175c4619f00e2ed7c5f5d9b8269e7c4f
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492354475,"identifier":"client_credentials","expires_in":3600,"access_token":"b5cc35e1b3c5c52799a96fd59234a847c0a9b987","token_type":"Bearer"}
  recorded_at: Sun, 16 Apr 2017 13:54:36 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories?page%5Blimit%5D=10&page%5Boffset%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b5cc35e1b3c5c52799a96fd59234a847c0a9b987
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 246ad230268997b7496c5fdd1d76cb4b9d114a3c
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"af79fa6e-64ed-4013-b3be-91beaabe7dbb","type":"category","status":"draft","name":"Home
        Audio Sound Bars","slug":"home-audio-sound-bars","description":"","relationships":{"parent":{"data":[{"type":"category","id":null}]}}},{"id":"9e4b7803-b43c-4e87-9680-0fd2ead45490","type":"category","status":"draft","name":"Dome
        Surveillance Cameras","slug":"dome-surveillance-cameras","description":"","relationships":{"parent":{"data":[{"type":"category","id":null}]}}},{"id":"e9e9b790-a1e1-4a44-a148-d34d9d8c59ac","type":"category","status":"draft","name":"Surveillance
        & Security Cameras","slug":"surveillance-security-cameras","description":"","relationships":{"parent":{"[...]
