---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 01dd4bd29155a9cf31c9a4cb703d8cf658153540
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491553221,"identifier":"client_credentials","expires_in":3600,"access_token":"edb880d90049b671ac8b38306ec8061d5c537c5a","token_type":"Bearer"}
  recorded_at: Fri, 07 Apr 2017 07:20:21 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories?page%5Blimit%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer edb880d90049b671ac8b38306ec8061d5c537c5a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 9686d909bd9c1b91b8f5a3985dc37426571dac3e
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"26fe6575-c482-41fd-9da0-be9291c54bfd","type":"category","status":"draft","name":"Desk
        & Shelf Clocks","slug":"desk-shelf-clocks","description":"","relationships":{}},{"id":"c9a94042-2427-4ec7-b009-0730740d5ce6","type":"category","status":"draft","name":"Electrical
        Cable Ties","slug":"electrical-cable-ties","description":"","relationships":{}},{"id":"a2b3d7c3-e037-4a43-82ff-6c900909becf","type":"category","status":"draft","name":"Satellite
        Television Receivers","slug":"satellite-television-receivers","description":"","relationships":{}},{"id":"39514ee3-2e03-4844-ac0f-ae649541c31d","type":"category","status":"draft","name":"Mechanical
     [...]
