---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 4515074052123b223608f1d6102b3508641b4f8f
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492354478,"identifier":"client_credentials","expires_in":3600,"access_token":"087b1066bf2826f3c73b082ef78489c6450749f8","token_type":"Bearer"}
  recorded_at: Sun, 16 Apr 2017 13:54:39 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories?page%5Blimit%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 087b1066bf2826f3c73b082ef78489c6450749f8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 69df5f9d3a40303d75389347d6af266730651f38
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"26fe6575-c482-41fd-9da0-be9291c54bfd","type":"category","status":"draft","name":"Desk
        & Shelf Clocks","slug":"desk-shelf-clocks","description":"","relationships":{"parent":{"data":[{"type":"category","id":"a2b3d7c3-e037-4a43-82ff-6c900909becf"}]}}},{"id":"c9a94042-2427-4ec7-b009-0730740d5ce6","type":"category","status":"draft","name":"Electrical
        Cable Ties","slug":"electrical-cable-ties","description":"","relationships":{"parent":{"data":[{"type":"category","id":null}]}}},{"id":"a2b3d7c3-e037-4a43-82ff-6c900909becf","type":"category","status":"draft","name":"Satellite
        Television Receivers","slug":"satellite-television-receivers","description":"","relationships":{"parent":{"data":[{"type":"category","id":null}]},"children":{"data":[{"type":"category","id":"26fe6575-c482-41fd-9da0-be9291c54bfd"}]}}},{"id":"39514ee3-2e03-4844-ac0f-ae649541c31d","type":"category","status":"draft","name":"Mechanical
        & Wind-Up Alarm Clocks","slug":"mechanical-wind-up-alarm-clocks","description":"","relationships":{"parent":{"data":[{"type":"category","id":null}]}}},{"id":"8707edf0-ef48-408d-becf-3abe4f9bc47c","type":"category","status":"draft","name":"Analog-to-Digital
        (DTV) Converters","slug":"analog-to-digital-dtv-con[...]
