---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 4a746bee3b386764deffccbe7883a26fa4b9be9d
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491553223,"identifier":"client_credentials","expires_in":3600,"access_token":"9f213954c85b0b24c665a25c06553869fc81878f","token_type":"Bearer"}
  recorded_at: Fri, 07 Apr 2017 07:20:23 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories?page%5Boffset%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9f213954c85b0b24c665a25c06553869fc81878f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 57c8ca4dd3944944deb3c063fbaff49f887b77ad
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"af79fa6e-64ed-4013-b3be-91beaabe7dbb","type":"category","status":"draft","name":"Home
        Audio Sound Bars","slug":"home-audio-sound-bars","description":"","relationships":{}},{"id":"9e4b7803-b43c-4e87-9680-0fd2ead45490","type":"category","status":"draft","name":"Dome
        Surveillance Cameras","slug":"dome-surveillance-cameras","description":"","relationships":{}},{"id":"e9e9b790-a1e1-4a44-a148-d34d9d8c59ac","type":"category","status":"draft","name":"Surveillance
        & Security Cameras","slug":"surveillance-security-cameras","description":"","relationships":{}},{"id":"b4fa72b0-c38d-4a0f-ac63-8a7b01ac8c96","type":"category","status":"draft","name":"Sports
 [...]
