---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - ba34019b4f35772ab429cd643d95458979430977
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493136474,"identifier":"client_credentials","expires_in":3600,"access_token":"2746ee97051979664e7b79fa50ed8a1ed0d5adfa","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 15:07:54 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2746ee97051979664e7b79fa50ed8a1ed0d5adfa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - c06839327d11d514658758826996e98b3d999dc5
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"label":"Type","value":"type","type":"enum","validation":{"regex":"^integration$"},"required":true,"options":["integration"]},{"label":"Id","value":"id","type":"string","required":true},{"label":"Integration
        Type","value":"integration_type","type":"enum","required":true,"description":"The
        type of integration (webhook, email etc)","default":"webhook","options":["webhook","email"]},{"label":"Enabled","value":"enabled","type":"boolean","required":false,"default":true},{"label":"Name","value":"name","type":"string","required":true},{"label":"Description","value":"description","type":"string","required":false},{"label":"Observes","value":"observes","type":"array","required":true,"description":"Events
        to observe which will trigger this integration to be fired. For example, \"order.created\"","items":[]},{"label":"Configuration","value":"configuration","required":true}],"meta":{"entity":"integration","version":"2.0.0"}}'
  recorded_at: Tue, 25 Apr 2017 15:07:55 GMT
recorded_with: VCR 3.0.3
