---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 878d2661be2b2bc7f547de82f663d075ccc7d112
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493137346,"identifier":"client_credentials","expires_in":3600,"access_token":"917c1a36bcbfb51f1aff70c5805a2f547c6ab15e","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Integration","enabled":true,"integration_type":"webhook","observes":["file.created"],"configuration":{"url":"http://example.com"},"type":"integration"}}'
    headers:
      Authorization:
      - Bearer 917c1a36bcbfb51f1aff70c5805a2f547c6ab15e
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 973f6de4739b79109037da9c0dda4ca0519f7a9d
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"656e38ba-a3e5-48da-aeee-37b01da9ff95","type":"integration","integration_type":"webhook","name":"My
        Integration","enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/656e38ba-a3e5-48da-aeee-37b01da9ff95"},"meta":{"timestamps":{"created_at":"2017-04-25T15:22:27.269Z","updated_at":"2017-04-25T15:22:27.269Z"}}}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/integrations/656e38ba-a3e5-48da-aeee-37b01da9ff95
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 917c1a36bcbfb51f1aff70c5805a2f547c6ab15e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 75d8685a21dda5694de88114f2326d7bcf2b6bcb
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"integration","id":"656e38ba-a3e5-48da-aeee-37b01da9ff95"}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations/656e38ba-a3e5-48da-aeee-37b01da9ff95
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 917c1a36bcbfb51f1aff70c5805a2f547c6ab15e
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - c98e99d2a6ea7cd4478c10243d7b3fea4f15cebc
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Integration not found"}]}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
