---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 49ed93b80772f0e17b4b00dd2218f7970332741a
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493136477,"identifier":"client_credentials","expires_in":3600,"access_token":"6f5f2b1d0ecc907471bc1b0b19c3070c984ad1cf","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6f5f2b1d0ecc907471bc1b0b19c3070c984ad1cf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - a24cc364be62e5f9b647018f0a766f437fdf8c34
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"b2eba7b5-f8d5-4079-aa05-54f45228558e","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/b2eba7b5-f8d5-4079-aa05-54f45228558e"},"meta":{"timestamps":{"created_at":"2017-04-24T15:43:26.830Z","updated_at":"2017-04-24T15:43:26.830Z"}}},{"id":"42867a97-ad98-453d-8f44-e5bce17bf5ce","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/42867a97-ad98-453d-8f44-e5bce17bf5ce"},"meta":{"timestamps":{"created_at":"2017-04-24T16:00:28.690Z","updated_at":"2017-04-24T16:00:28.690Z"}}},{"id":"391d5ce8-cb41-4a51-b326-8e044[...]
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations/b2eba7b5-f8d5-4079-aa05-54f45228558e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6f5f2b1d0ecc907471bc1b0b19c3070c984ad1cf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - d55bff4df2cba7c9c5b11ab0e506c9d78314cce6
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"b2eba7b5-f8d5-4079-aa05-54f45228558e","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/b2eba7b5-f8d5-4079-aa05-54f45228558e"},"meta":{"timestamps":{"created_at":"2017-04-24T15:43:26.830Z","updated_at":"2017-04-24T15:43:26.830Z"}}}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
