---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 4d7a8da5f2df742de878db857a21989ac1d4903d
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493141284,"identifier":"client_credentials","expires_in":3600,"access_token":"61fb642264154ff2f5ca479400308ef81a1978a2","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 61fb642264154ff2f5ca479400308ef81a1978a2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 46bc8b7b2478c48669742d906e7f5e92e6c98e48
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"2217dfa1-5473-4527-99c4-4c67aa7e1289","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/2217dfa1-5473-4527-99c4-4c67aa7e1289"},"meta":{"timestamps":{"created_at":"2017-04-25T15:22:03.968Z","updated_at":"2017-04-25T15:22:03.968Z"}}},{"id":"928b2e88-308a-4646-9e62-034bd40c4fe5","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/928b2e88-308a-4646-9e62-034bd40c4fe5"},"meta":{"timestamps":{"created_at":"2017-04-25T15:23:10.685Z","updated_at":"2017-04-25T15:23:10.685Z"}}}]}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations/2217dfa1-5473-4527-99c4-4c67aa7e1289/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 61fb642264154ff2f5ca479400308ef81a1978a2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 72912f3f4495e5a22dd22444a0c328ae7a1e96eb
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
