---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 881cb5d835718c89e501ba89a932be8dd0cb5cd1
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493137459,"identifier":"client_credentials","expires_in":3600,"access_token":"c72fcf6fceca0447b7d8b73f7c71a1a6ce80cd26","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 15:24:19 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c72fcf6fceca0447b7d8b73f7c71a1a6ce80cd26
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 56de2fd207fb84a3bc039f3adb920a51f4845e25
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"2217dfa1-5473-4527-99c4-4c67aa7e1289","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/2217dfa1-5473-4527-99c4-4c67aa7e1289"},"meta":{"timestamps":{"created_at":"2017-04-25T15:22:03.968Z","updated_at":"2017-04-25T15:22:03.968Z"}}},{"id":"928b2e88-308a-4646-9e62-034bd40c4fe5","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/928b2e88-308a-4646-9e62-034bd40c4fe5"},"meta":{"timestamps":{"created_at":"2017-04-25T15:23:10.685Z","updated_at":"2017-04-25T15:23:10.685Z"}}}]}'
  recorded_at: Tue, 25 Apr 2017 15:24:20 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations/2217dfa1-5473-4527-99c4-4c67aa7e1289/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c72fcf6fceca0447b7d8b73f7c71a1a6ce80cd26
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 1d5ef711101c60c2caca1f484abdaf3c7fe600e3
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 25 Apr 2017 15:24:21 GMT
recorded_with: VCR 3.0.3
