---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - ef695c8790725948629633bc947f19170e4641c6
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493141279,"identifier":"client_credentials","expires_in":3600,"access_token":"8b7fd7bce310ebfc76b84bd87e6105e0c0df175b","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8b7fd7bce310ebfc76b84bd87e6105e0c0df175b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - a029733bdea89d0e8d5eb232bac2a177c1b2b934
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"2217dfa1-5473-4527-99c4-4c67aa7e1289","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/2217dfa1-5473-4527-99c4-4c67aa7e1289"},"meta":{"timestamps":{"created_at":"2017-04-25T15:22:03.968Z","updated_at":"2017-04-25T15:22:03.968Z"}}},{"id":"928b2e88-308a-4646-9e62-034bd40c4fe5","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/928b2e88-308a-4646-9e62-034bd40c4fe5"},"meta":{"timestamps":{"created_at":"2017-04-25T15:23:10.685Z","updated_at":"2017-04-25T15:23:10.685Z"}}}]}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations/2217dfa1-5473-4527-99c4-4c67aa7e1289/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8b7fd7bce310ebfc76b84bd87e6105e0c0df175b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 7901bccea217c96f9c8f5fe581e08f591d2a8a74
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
