---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - aaf2b88951f1c4cec097aed5050aefe75138b22d
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493137455,"identifier":"client_credentials","expires_in":3600,"access_token":"75aedef5e63386ad719851b97da87c360023bdf9","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 15:24:15 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 75aedef5e63386ad719851b97da87c360023bdf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - ab5418a79659a4d2033d71ee22c9f44366f6936b
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"2217dfa1-5473-4527-99c4-4c67aa7e1289","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/2217dfa1-5473-4527-99c4-4c67aa7e1289"},"meta":{"timestamps":{"created_at":"2017-04-25T15:22:03.968Z","updated_at":"2017-04-25T15:22:03.968Z"}}},{"id":"928b2e88-308a-4646-9e62-034bd40c4fe5","type":"integration","integration_type":"webhook","name":"My
        Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/928b2e88-308a-4646-9e62-034bd40c4fe5"},"meta":{"timestamps":{"created_at":"2017-04-25T15:23:10.685Z","updated_at":"2017-04-25T15:23:10.685Z"}}}]}'
  recorded_at: Tue, 25 Apr 2017 15:24:16 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations/2217dfa1-5473-4527-99c4-4c67aa7e1289/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 75aedef5e63386ad719851b97da87c360023bdf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - d2a406c6b12ba555cd1bc39d2d400ffab5359812
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 25 Apr 2017 15:24:17 GMT
recorded_with: VCR 3.0.3
