---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 291517bc28342aecff21ded0aa91c97128848e03
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493136495,"identifier":"client_credentials","expires_in":3600,"access_token":"e3380adfaecbaa6750a924496c852ec572e995e6","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 15:08:15 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/integrations/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e3380adfaecbaa6750a924496c852ec572e995e6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 8bf755042bee5194066f9d57a98975938fa14c26
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 25 Apr 2017 15:08:17 GMT
recorded_with: VCR 3.0.3
