---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 5d09dc26e791a66fbc76364040128ecd0bbd256b
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493644042,"identifier":"client_credentials","expires_in":3600,"access_token":"b0e335af3b91d7ec0f8efce5461093bc51da1afa","token_type":"Bearer"}
  recorded_at: Mon, 01 May 2017 12:07:22 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b0e335af3b91d7ec0f8efce5461093bc51da1afa
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 46a2fd0a6661bbd7b9e862e14000b6a655e5ebfc
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"settings","page_length":100,"timezone":"UTC","password_policy":"min_6_letters"}}'
  recorded_at: Mon, 01 May 2017 12:07:23 GMT
recorded_with: VCR 3.0.3
