---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - e39d9e0170a993991d673bacc98f1f5b64a8082a
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493641057,"identifier":"client_credentials","expires_in":3600,"access_token":"01d7c35c46ed6a45ddc67e52cb1f293f319df20f","token_type":"Bearer"}
  recorded_at: Mon, 05 Oct 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 01d7c35c46ed6a45ddc67e52cb1f293f319df20f
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 16037872c5f09e5307120a74d73e6c8b4e512a66
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"product-variation","id":"d1a62d4f-fb16-4610-8200-87e0a8a86d78","name":"My
        Variation","options":[{"id":"99677c20-8945-4dbb-a950-6332e6334a64","name":"My
        VariationOption","description":"Cool description","modifiers":[{"id":"d3e486dc-e17a-4d3b-abb0-d3696781edd8","type":"sku_builder","value":{"seek":"in
        incididunt cupidatat dolor est","set":"velit ad ut"}}]},{"id":"b509454e-2310-4e6b-a0fa-b4baace3f63c","name":"My
        VariationOption","description":"Cool description","modifiers":[]},{"id":"3fdc70d3-b7ab-41b2-94ec-6b0f05031bfd","name":"My
        VariationOption","description":"Cool description","modifiers":[]},{"id":"e2bd0e86-a313-4146-9c53-a3295c44fda6","name":"My
        VariationOption","description":"Cool description","modifiers":[]},{"id":"984ef043-38c2-45ba-a6ff-52b2e1d1b505","name":"My
        VariationOption","descriptio[...]
- request:
    method: post
    uri: https://api.moltin.com/v2/variations/d1a62d4f-fb16-4610-8200-87e0a8a86d78/variation-options/99677c20-8945-4dbb-a950-6332e6334a64/product-modifiers
    body:
      encoding: UTF-8
      string: '{"data":{"modifier_type":"sku_builder","value":{"seek":"in incididunt
        cupidatat dolor est","set":"velit ad ut"},"type":"product-modifier"}}'
    headers:
      Authorization:
      - Bearer 01d7c35c46ed6a45ddc67e52cb1f293f319df20f
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=u[...]
- request:
    method: put
    uri: https://api.moltin.com/v2/variations/d1a62d4f-fb16-4610-8200-87e0a8a86d78/variation-options/99677c20-8945-4dbb-a950-6332e6334a64/product-modifiers/d3e486dc-e17a-4d3b-abb0-d3696781edd8
    body:
      encoding: UTF-8
      string: '{"data":{"value":{"seek":"in incididunt cupidatat dolor est!","set":"velit
        ad ut!"},"type":"product-modifier","id":"d3e486dc-e17a-4d3b-abb0-d3696781edd8"}}'
    headers:
      Authorization:
      - Bearer 01d7c35c46ed6a45ddc[...]
- request:
    method: delete
    uri: https://api.moltin.com/v2/variations/d1a62d4f-fb16-4610-8200-87e0a8a86d78/variation-options/99677c20-8945-4dbb-a950-6332e6334a64/product-modifiers/d1a62d4f-fb16-4610-8200-87e0a8a86d78
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 01d7c35c46ed6a45ddc67e52cb1f293f319df20f
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - bda960c4d570f5eb1007ff58ff05f3cd5e088435
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-modifier","id":"d1a62d4f-fb16-4610-8200-87e0a8a86d78"}}'
  recorded_at: Mon, 05 Oct 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
