---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 39866f7083f975fe12e6f85bf37fcfdfe5b8980b
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493140760,"identifier":"client_credentials","expires_in":3600,"access_token":"3350db206feab6fcb8a7572da7851dac460febc8","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/variations
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Variation","type":"product-variation"}}'
    headers:
      Authorization:
      - Bearer 3350db206feab6fcb8a7572da7851dac460febc8
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 02543571c522b1b66d20d6f507a535100b0ef43c
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"bca29c46-ee7d-4283-92e8-c392b64dc146","name":"My
        Variation","options":[]}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/variations/bca29c46-ee7d-4283-92e8-c392b64dc146
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3350db206feab6fcb8a7572da7851dac460febc8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - b02bcbb64a683edc48d1b231652ebc0d15dc8075
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"bca29c46-ee7d-4283-92e8-c392b64dc146"}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
