---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - a37c4393e272984b4bb4613bee06edba04a4489f
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493874309,"identifier":"client_credentials","expires_in":3600,"access_token":"b492ba7f7d8a3b3df940fdf1e6c5d28655f01117","token_type":"Bearer"}
  recorded_at: Thu, 04 May 2017 04:05:09 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/flows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b492ba7f7d8a3b3df940fdf1e6c5d28655f01117
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 40a40dc123f43236279c6790cc8a4ab034188b01
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"f14015ce-436a-427f-bfed-e2244105301a","type":"flow","name":"reference","slug":"products","description":"Something
        else.","enabled":true,"links":{"self":"https://api.moltin.com/flows/f14015ce-436a-427f-bfed-e2244105301a"},"relationships":{},"meta":{"timestamps":{"created_at":"2017-05-02T10:50:45.622Z","updated_at":"2017-05-02T15:23:56.784Z"}}},{"id":"c9988916-27f9-4a90-822d-262aab8526ce","type":"flow","name":"test-reference","slug":"carts","description":"Something
        else.","enabled":false,"links":{"self":"https://api.moltin.com/flows/c9988916-27f9-4a90-822d-262aab8526ce"},"relationships":{},"meta":{"timestamps":{"created_at":"2017-05-02T15:06:01.072Z","updated_at":"2017-05-02T15:06:02.319Z"}}}]}'
  recorded_at: Thu, 04 May 2017 04:05:10 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/flows/products/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b492ba7f7d8a3b3df940fdf1e6c5d28655f01117
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - a8e5b83951038015e172cca7ca5198be7ef3a8ef
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"fbe52307-a4d5-49d2-89f7-eadc22a87890","type":"entry","reference":"cool
        value","content":null,"meta":{"timestamps":{"created_at":"2017-05-04T04:00:51.184Z","updated_at":"2017-05-04T04:00:51.184Z"}},"links":{"self":"https://api.moltin.com/products/fbe52307-a4d5-49d2-89f7-eadc22a87890"}}]}'
  recorded_at: Thu, 04 May 2017 04:05:11 GMT
recorded_with: VCR 3.0.3
