---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - ad74aca7c18acee64b2c7894423bb98ffabb5758
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493874318,"identifier":"client_credentials","expires_in":3600,"access_token":"ea1b6c61fd58ffd1fdd4315f4abcdb6e30468afa","token_type":"Bearer"}
  recorded_at: Thu, 08 Oct 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/flows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ea1b6c61fd58ffd1fdd4315f4abcdb6e30468afa
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 898a712cd16350e70b149263d0c2a6f1aa3d94b8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"f14015ce-436a-427f-bfed-e2244105301a","type":"flow","name":"reference","slug":"products","description":"Something
        else.","enabled":true,"links":{"self":"https://api.moltin.com/flows/f14015ce-436a-427f-bfed-e2244105301a"},"relationships":{},"meta":{"timestamps":{"created_at":"2017-05-02T10:50:45.622Z","updated_at":"2017-05-02T15:23:56.784Z"}}},{"id":"c9988916-27f9-4a90-822d-262aab8526ce","type":"flow","name":"test-reference","slug":"carts","description":"Something
        else.","enabled":false,"links":{"self":"https://api.moltin.com/flows/c9988916-27f9-4a90-822d-262aab8526ce"},"relationships":{},"meta":{"timestamps":{"created_at":"2017-05-02T15:06:01.072Z","updated_at":"2017-05-02T15:06:02.319Z"}}}]}'
  recorded_at: Thu, 08 Oct 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/flows/products/entries
    body:
      encoding: UTF-8
      string: '{"data":{"reference":"cool value","type":"entry"}}'
    headers:
      Authorization:
      - Bearer ea1b6c61fd58ffd1fdd4315f4abcdb6e30468afa
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - f84a062e84027282249c33ccb768e3376113cbca
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"fce9f4ef-7014-4254-8a99-4cb0676a8bd2","type":"entry","reference":"cool
        value","content":null,"meta":{"timestamps":{"created_at":"2017-05-04T04:05:20.455Z","updated_at":"2017-05-04T04:05:20.455Z"}},"links":{"self":"https://api.moltin.com/products/fce9f4ef-7014-4254-8a99-4cb0676a8bd2"}}}'
  recorded_at: Thu, 08 Oct 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
