---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 9d7dc682e8d946261212bfcf87b8a3623cdd1850
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493135982,"identifier":"client_credentials","expires_in":3600,"access_token":"bcd2e83ac6685c0d54d116f5dd594df4f0925e01","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bcd2e83ac6685c0d54d116f5dd594df4f0925e01
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 633fd7aa9182dcacfcbc408c5eb17ac76b722505
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"order","id":"006301c7-c77f-429a-9485-d99c310adc45","status":"complete","payment":"paid","shipping":"not_shipped","customer":{"name":"Billy","email":"billy@billy.com"},"shipping_address":{"first_name":"Otis","last_name":"Sedmak","company_name":"Sedmak
        & Co.","line_1":"1251, Rexmere Ave","line_2":"Farmingville, Suffolk","postcode":"11738","county":"New
        York","country":"US","instructions":"Leave in porch"},"billing_address":{"first_name":"Jack","last_name":"Macdowall","company_name":"Macdowalls","line_1":"1225
        Invention Avenue","line_2":"Birmingham","postcode":"B21 9AF","county":"West
        Midlands","country":"UK"},"links":{},"meta":{"display_price":{"with_tax":{"amount":250,"currency":"USD","formatted":"$2.50"},"without_tax":{"amount":250,"currency":"USD","formatted":"$2.50"}},"timestamps":{"created_at":"2017-04-21T15:24:14.707Z","updated_at":"2017-04-21T15:24:14.707Z"}},"relationships":{"items":[{"data":{"type":"item","id":"1cb4b67b-45d8-49cb-980c-53d6a6128de4"}}]}},{"type":"order","id":"06313dc0-58f2-4d52-afed-c064e52ae9e3","status":"incomplete","payment":"unpaid","shipping":"not_shipped","customer":{"name":"Billy","email":"billy@billy.com"},"shipping_address":{"first_name":"Otis","last_name":"Sedmak","company_name":"Sedmak
        & Co.","line_1":"1251, Rexmere Ave","line_2":"Farmingville, Suffolk","postcode":"11738","county":"New
        York","country":"US","instructions":"Leave in[...]
- request:
    method: get
    uri: https://api.moltin.com/v2/orders/006301c7-c77f-429a-9485-d99c310adc45/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bcd2e83ac6685c0d54d116f5dd594df4f0925e01
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - a117787d4bb04538a607392d512d4195395b5c22
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"01893386-23c0-472c-b971-18dd49ad0474","type":"transaction","reference":"","gateway":"stripe","amount":250,"currency":"USD","transaction-type":"purchase","status":"failed"},{"id":"0adb7a4f-add9-4233-ac15-6c878047fe1c","type":"transaction","reference":"","gateway":"stripe","amount":250,"currency":"USD","transaction-type":"purchase","status":"failed"},{"id":"44ac041c-9537-4885-93e9-dda041dd7c50","type":"transaction","reference":"","gateway":"dummy","amount":250,"currency":"USD","transaction-type":"purchase","status":"failed"},{"id":"742e0acf-0130-46e1-9d3e-42fb74e9b674","type":"transaction","reference":"ch_1ACQNLDzymMudtxWQdY1SJGp","gate[...]
