---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 1d2be33a575b4bbf4c4306af604dacb35db8905c
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493834299,"identifier":"client_credentials","expires_in":3600,"access_token":"fec48a885eeacdd5dd8d02752aca74a839c6f1fb","token_type":"Bearer"}
  recorded_at: Wed, 03 May 2017 16:58:19 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/fields/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fec48a885eeacdd5dd8d02752aca74a839c6f1fb
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - d3b6a4da4194c5b2dcd859c68120fd657b09da1a
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"label":"Id","value":"id","type":"string","required":true},{"label":"Type","value":"type","type":"enum","required":true,"options":["field"]},{"label":"Field
        Type","value":"field_type","type":"enum","required":true,"options":["integer","float","string","boolean"]},{"label":"Name","value":"name","type":"string","required":true},{"label":"Required","value":"required","type":"boolean","required":true,"default":false},{"label":"Unique","value":"unique","type":"boolean","required":true,"default":false},{"label":"Default","value":"default","type":["boolean","string","number","integer","null"],"required":true,"description":"The
        type depends on the type of field.","default":""},{"label":"Description","value":"description","type":"string","required":true}],"meta":{"entity":"field","version":"2.0.0"}}'
  recorded_at: Wed, 03 May 2017 16:58:20 GMT
recorded_with: VCR 3.0.3
