---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 29e589dd4e2a23b7319eaca716bce5dc92b5a6e2
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493834311,"identifier":"client_credentials","expires_in":3600,"access_token":"4bc12a4fa521f6ac5eaded96117b8d203dbb52ab","token_type":"Bearer"}
  recorded_at: Wed, 07 Oct 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/flows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4bc12a4fa521f6ac5eaded96117b8d203dbb52ab
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - cd795a697d4584c3fbccfa7e044370fadedd9ab7
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"f14015ce-436a-427f-bfed-e2244105301a","type":"flow","name":"reference","slug":"products","description":"Something
        else.","enabled":true,"links":{"self":"https://api.moltin.com/flows/f14015ce-436a-427f-bfed-e2244105301a"},"relationships":{},"meta":{"timestamps":{"created_at":"2017-05-02T10:50:45.622Z","updated_at":"2017-05-02T15:23:56.784Z"}}},{"id":"c9988916-27f9-4a90-822d-262aab8526ce","type":"flow","name":"test-reference","slug":"carts","description":"Something
        else.","enabled":false,"links":{"self":"https://api.moltin.com/flows/c9988916-27f9-4a90-822d-262aab8526ce"},"relationships":{},"meta":{"timestamps":{"created_at":"2017-05-02T15:06:01.072Z","updated_at":"2017-05-02T15:06:02.319Z"}}}]}'
  recorded_at: Wed, 07 Oct 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/flows/products/fields
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4bc12a4fa521f6ac5eaded96117b8d203dbb52ab
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 27d702eb697d70dc106226a2b7c923883692199e
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"4cc1962d-fb5b-437b-84f7-763bf92ae379","type":"field","field_type":"string","slug":"reference","name":"reference","description":"Just
        an additional reference","required":false,"unique":true,"default":null,"enabled":true,"validation_rules":[],"order":null,"links":{"self":"https://api.moltin.com/fields/4cc1962d-fb5b-437b-84f7-763bf92ae379"},"relationships":{"flow":{"data":{"id":"f14015ce-436a-427f-bfed-e2244105301a","type":"flow"}}},"meta":{"timestamps":{"created_at":"2017-05-02T15:38:32.104Z","updated_at":"2017-05-02T15:38:32.104Z"}}},{"id":"9c3243e5-98d1-403b-8992-1c860b88caee","type":"field","field_type":"string","slug":"content","name":"content","description":"Just
        an additional reference","required":false,"unique":true,"default":null,"enabled":true,"validation_rules":[],"order":null,"links":{"self":"https://api.moltin.com/fields/9c3243e5-98d1-403b-8992-1c860b88caee"},"relationships":{"flow":{"data":{"id":"f14015ce-436a-427f-bfed-e2244105301a","type":"flow"}}},"meta":{"timestamps":{"created_at":"2017-05-02T15:44:55.001Z","updated_at":"2017-05-02T15:44:55.001Z"}}}]}'
  recorded_at: Wed, 07 Oct 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/fields/4cc1962d-fb5b-437b-84f7-763bf92ae379
    body:
      encoding: UTF-8
      string: '{"data":{"description":"Something else.","type":"field","id":"4cc1962d-fb5b-437b-84f7-763bf92ae379"}}'
    headers:
      Authorization:
      - Bearer 4bc12a4fa521f6ac5eaded96117b8d203dbb52ab
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - c560d537edb8092d738cf9277ad4c639482b761a
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"4cc1962d-fb5b-437b-84f7-763bf92ae379","type":"field","field_type":"string","slug":"reference","name":"reference","description":"Something
        else.","required":false,"unique":true,"default":null,"enabled":true,"validation_rules":[],"order":null,"links":{"self":"https://api.moltin.com/fields/4cc1962d-fb5b-437b-84f7-763bf92ae379"},"relationships":{"flow":{"data":{"id":"f14015ce-436a-427f-bfed-e2244105301a","type":"flow"}}},"meta":{"timestamps":{"created_at":"2017-05-02T15:38:32.104Z","updated_at":"2017-05-03T16:58:36.475Z"}}}}'
  recorded_at: Wed, 07 Oct 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
