---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - cee7ced4ddd8d3f23e42d5267972b57f7a42bdb0
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491759459,"identifier":"client_credentials","expires_in":3600,"access_token":"322dfd2446ced1ac016b81c5e69c342a15b49972","token_type":"Bearer"}
  recorded_at: Sun, 09 Apr 2017 16:37:39 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/collections/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 322dfd2446ced1ac016b81c5e69c342a15b49972
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 940f701dcc9bfc151b7eed984ffc84ecd63ad7ff
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 09 Apr 2017 16:37:41 GMT
recorded_with: VCR 3.0.3
