---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - d6e418dd62af0737e453b135582b02d72df970c6
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492356579,"identifier":"client_credentials","expires_in":3600,"access_token":"82c6f6e95b7b29661fe31a7504d9905368e24aee","token_type":"Bearer"}
  recorded_at: Sun, 16 Apr 2017 14:29:40 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/collections/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 82c6f6e95b7b29661fe31a7504d9905368e24aee
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 4796f4f171ab90c9b8dc9fe785c37dffbf8a21d5
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"label":"Type","value":"type","type":"enum","validation":{"regex":"^collection"},"required":true,"options":["collection"]},{"label":"Id","value":"id","type":"string","required":true},{"label":"Name","value":"name","type":"string","required":true},{"label":"Slug","value":"slug","type":"string","required":false},{"label":"Status","value":"status","type":"enum","required":false,"default":"draft","options":["draft","live"]},{"label":"Description","value":"description","type":"string","required":false}],"meta":{"entity":"collection","version":"2.0.0"}}'
  recorded_at: Sun, 16 Apr 2017 14:29:41 GMT
recorded_with: VCR 3.0.3
