---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 02fdd4c473f758a133c7c5f9291ba6cacbc78192
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491759481,"identifier":"client_credentials","expires_in":3600,"access_token":"cc50b25fed3bdd8511590d98347df767eba9531d","token_type":"Bearer"}
  recorded_at: Sun, 13 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/collections
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Collection","slug":"my-collection-update-valid","description":"Super
        Collection","status":"live","type":"collection"}}'
    headers:
      Authorization:
      - Bearer cc50b25fed3bdd8511590d98347df767eba9531d
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 68195c5c97321208a2a7cc76cc2588c5024a7d0e
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"b0a769f0-7385-4446-b9b2-96ff4408626e","type":"collection","status":"live","name":"My
        Collection","slug":"my-collection-update-valid","description":"Super Collection","relationships":{}}}'
  recorded_at: Sun, 13 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/collections/b0a769f0-7385-4446-b9b2-96ff4408626e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cc50b25fed3bdd8511590d98347df767eba9531d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - bdf406e617ab22fcb73d82754a70614f389e91ab
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"collection","id":"b0a769f0-7385-4446-b9b2-96ff4408626e"}}'
  recorded_at: Sun, 13 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/collections/b0a769f0-7385-4446-b9b2-96ff4408626e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cc50b25fed3bdd8511590d98347df767eba9531d
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 901af0aebabd9b0aac774b682a2d6ae6c37927f5
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":404,"detail":"The requested product collection
        could not be found","title":"Product Collection not found"}]}'
  recorded_at: Sun, 13 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
