---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 8340ff6374195349760481fd26b5830aa2421c5b
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491759454,"identifier":"client_credentials","expires_in":3600,"access_token":"4d7620738f7b1d6f192df722dae4c813f04ea6f7","token_type":"Bearer"}
  recorded_at: Sun, 09 Apr 2017 16:37:35 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/collections?sort=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4d7620738f7b1d6f192df722dae4c813f04ea6f7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 4559c385ecf347f0b1c86937e58f4fdc8f533909
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"0417aa72-78b4-42fd-bab4-dfccf1afb92c","type":"collection","status":"live","name":"My
        Awesome Collection","slug":"my-awesome-collection","description":"Super Collection","relationships":{}},{"id":"c962dd85-b2df-40b8-8478-d054f16609e3","type":"collection","status":"live","name":"My
        Collection","slug":"my-collection","description":"Super Collection","relationships":{}},{"id":"4fa7b6dd-ae53-4f88-baa6-649198255722","type":"collection","status":"live","name":"My
        Other Collection","slug":"my-other-collection","description":"Super Collection","relationships":{}},{"id":"0f528777-a9bd-4ff7-bda8-1019b2475681","type":"collection","status":"live","name":"My
        Weird Collection","slug":"my-weird-collection","description":"Super Collection","relationships":{}}],"links":{"current":"https://api.moltin.com/v2/collections?page[limit]=100&page[offset]=0&sort=name","first":"https://api.moltin.com/v2/collections?page[limit]=100&page[offset]=0&sort=name","last":null},"meta":{"results":{"total":4,"all":4},"page":{"limit":100,"offset":0,"current":1,"total":1}}}'
  recorded_at: Sun, 09 Apr 2017 16:37:36 GMT
recorded_with: VCR 3.0.3
