---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 1038807857499998ea1fc010113a4c53fb2978e3
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491759457,"identifier":"client_credentials","expires_in":3600,"access_token":"add52d35a1bffc15177d37f7c407e182119db05e","token_type":"Bearer"}
  recorded_at: Sun, 09 Apr 2017 16:37:37 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/collections?sort=-name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer add52d35a1bffc15177d37f7c407e182119db05e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 02efa8db27c1088f96db0e9c659188951bcc6624
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"0f528777-a9bd-4ff7-bda8-1019b2475681","type":"collection","status":"live","name":"My
        Weird Collection","slug":"my-weird-collection","description":"Super Collection","relationships":{}},{"id":"4fa7b6dd-ae53-4f88-baa6-649198255722","type":"collection","status":"live","name":"My
        Other Collection","slug":"my-other-collection","description":"Super Collection","relationships":{}},{"id":"c962dd85-b2df-40b8-8478-d054f16609e3","type":"collection","status":"live","name":"My
        Collection","slug":"my-collection","description":"Super Collection","relationships":{}},{"id":"0417aa72-78b4-42fd-bab4-dfccf1afb92c","type":"collection","status":"live","name":"My
        Awesome Collection","slug":"my-awesome-collection","description":"Super Collection","relationships":{}}],"links":{"current":"https://api.moltin.com/v2/collections?page[limit]=100&page[offset]=0&sort=-name","first":"https://api.moltin.com/v2/collections?page[limit]=100&page[offset]=0&sort=-name","last":null},"meta":{"results":{"total":4,"all":4},"page":{"limit":100,"offset":0,"current":1,"total":1}}}'
  recorded_at: Sun, 09 Apr 2017 16:37:38 GMT
recorded_with: VCR 3.0.3
