---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - ddf7a2520d4f84077ab2185d7783761852ffee7b
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492591906,"identifier":"client_credentials","expires_in":3600,"access_token":"4d3956c3437682e91c1647c53ffe329cc318b578","token_type":"Bearer"}
  recorded_at: Wed, 19 Apr 2017 07:51:46 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/files?page%5Blimit%5D=10&page%5Boffset%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4d3956c3437682e91c1647c53ffe329cc318b578
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - d00d826fe0efed66acba7c505552139129906add
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"file","id":"adbfb108-1514-4ba4-9d19-be8862589f75","link":{"href":"https://s3-eu-west-1.amazonaws.com/files.moltin/e461222e-7780-45d3-8a41-81b45ee6b7c6/adbfb108-1514-4ba4-9d19-be8862589f75"},"file_name":"upload_e84afc97e2fdaf5fddf036de2feddee9","mime_type":"","file_size":0,"public":true,"meta":{"dimensions":{},"timestamps":{"created_at":"2017-03-10T10:36:40.832Z"}},"links":{"current":"https://api.moltin.com/v2/files/adbfb108-1514-4ba4-9d19-be8862589f75"}},{"type":"file","id":"aa01f2e3-c131-41e2-8138-d85aaa18714f","link":{"href":"https://s3-eu-west-1.amazonaws.com/files.moltin/e461222e-7780-45d3-8a41-81b45ee6b7c6/aa01f2e3-c131-41e2-8138-d85aaa18714f"},"file_name":"upload_c36404df0db6e2c661aaddccf8e94e3c","mime_type":"","file_size":0,"public":true,"meta":{"dimensions":{},"timestamps":{"created_at":"2017-03-10T10:36:37.558Z"}},"links":{"current":"https://api.moltin.com/v2/files[...]
