---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 5f237743fa4006b9b796efe83e5c995a1e586560
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492591910,"identifier":"client_credentials","expires_in":3600,"access_token":"8485830c5300aa5613ff1ae692da946e4c9a5f0c","token_type":"Bearer"}
  recorded_at: Wed, 19 Apr 2017 07:51:50 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/files?page%5Boffset%5D=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8485830c5300aa5613ff1ae692da946e4c9a5f0c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - ff68acad257fbb0d9d35451e318b3cf96d72496c
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"file","id":"f06400b8-ba27-4920-aaa0-acad29635210","link":{"href":"https://s3-eu-west-1.amazonaws.com/files.moltin/e461222e-7780-45d3-8a41-81b45ee6b7c6/f06400b8-ba27-4920-aaa0-acad29635210"},"file_name":"upload_8909ac2a5afda271e18f64e8bf86d950","mime_type":"","file_size":0,"public":true,"meta":{"dimensions":{},"timestamps":{"created_at":"2017-03-10T10:29:56.652Z"}},"links":{"current":"https://api.moltin.com/v2/files/f06400b8-ba27-4920-aaa0-acad29635210"}},{"type":"file","id":"3ca1d441-a99b-4dab-a389-e7a718a272cc","link":{"href":"https://s3-eu-west-1.amazonaws.com/files.moltin/e461222e-7780-45d3-8a41-81b45ee6b7c6/3ca1d441-a99b-4dab-a389-e7a718a272cc"},"file_name":"upload_549ef95c69e4dc5c6076bebe5cc7d744","mime_type":"","file_size":0,"public":true,"meta":{"dimensions":{},"timestamps":{"created_at":"2017-03-10T10:29:53.601Z"}},"links":{"current":"https://api.moltin.com/v2/files[...]
