---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - ab7a489122e159419f6bbf09cf6174edfe0cfc39
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492625166,"identifier":"client_credentials","expires_in":3600,"access_token":"0310280fdbd587f4af8d897e4b9b8dfd2454429b","token_type":"Bearer"}
  recorded_at: Wed, 19 Apr 2017 17:06:06 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 0310280fdbd587f4af8d897e4b9b8dfd2454429b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 6777d6fc1452189a8430f35707b73ca39a526b5d
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"file","id":"6fcbfc51-3930-4686-9822-8ce662a66c45","link":{"href":"https://s3-eu-west-1.amazonaws.com/files.moltin/e461222e-7780-45d3-8a41-81b45ee6b7c6/6fcbfc51-3930-4686-9822-8ce662a66c45"},"file_name":"upload_b9baea8785064a5db078b6047127c98e","mime_type":"","file_size":0,"public":true,"meta":{"dimensions":{},"timestamps":{"created_at":"2017-03-10T10:37:29.433Z"}},"links":{"current":"https://api.moltin.com/v2/files/6fcbfc51-3930-4686-9822-8ce662a66c45"}},{"type":"file","id":"980e27a1-6a36-4c84-b71a-e62e070d0561","link":{"href":"https://s3-eu-west-1.amazonaws.com/files.moltin/e461222e-7780-45d3-8a41-81b45ee6b7c6/980e27a1-6a36-4c84-b71a-e62e070d0561"},"file_name":"upload_eda7656aa033b7ce5795efbbcae5de10","mime_type":"","file_size":0,"public":true,"meta":{"dimensions":{},"timestamps":{"created_at":"2017-03-10T10:37:26.03Z"}},"links":{"current":"https://api.moltin.com/v2/files/[...]
