---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 0cc00ac52566ff0dabe8de01cc0003502086e0e3
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492591913,"identifier":"client_credentials","expires_in":3600,"access_token":"18a03072fac06808709d7c76a33b76d8d12758a6","token_type":"Bearer"}
  recorded_at: Wed, 19 Apr 2017 07:51:53 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/files/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18a03072fac06808709d7c76a33b76d8d12758a6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 976ecef9c4816f097f40f6e0964c74723c0c688c
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"label":"Type","value":"type","type":"string","validation":{"regex":"^file$"},"required":true},{"label":"Id","value":"id","type":"string","required":true},{"label":"Link","value":"link","type":"object","required":true,"object":[{"label":"Href","value":"href","type":"string","required":true}]},{"label":"File
        Name","value":"file_name","type":"string","required":true,"description":"The
        filename inferred from the source file"},{"label":"Mime Type","value":"mime_type","type":"string","required":true},{"label":"File
        Size","value":"file_size","type":"number","required":true,"description":"The
        file size on disk in bits"},{"label":"Public","value":"public","type":"boolean","required":true,"default":true}],"meta":{"entity":"file","version":"2.0.0"}}'
  recorded_at: Wed, 19 Apr 2017 07:51:54 GMT
recorded_with: VCR 3.0.3
