---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 337a128c04b5ea443fc2e6994d7e52d381267b27
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492832472,"identifier":"client_credentials","expires_in":3600,"access_token":"1e6f522e5283879c1002d0134c3910fb2f0227c8","token_type":"Bearer"}
  recorded_at: Sat, 26 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/gateways
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1e6f522e5283879c1002d0134c3910fb2f0227c8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 8d1a5d56115b1a3b9bf5f21e90b0ed67a98b9e4e
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"enabled":false,"environment":"","merchant_id":"","name":"Braintree","private_key":"","public_key":"","slug":"braintree","type":"gateway"},{"enabled":false,"login":"test","name":"Stripe","slug":"stripe","type":"gateway"},{"enabled":false,"name":"Dummy","slug":"dummy","type":"gateway"}]}'
  recorded_at: Sat, 26 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
