---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 64e27aa6baa910f844c42f6b48f0245bd09ee8dd
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492832172,"identifier":"client_credentials","expires_in":3600,"access_token":"e7cd3418f80f9811187e04083784bc7361efc1d6","token_type":"Bearer"}
  recorded_at: Sat, 26 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/gateways/stripe
    body:
      encoding: UTF-8
      string: '{"data":{"enabled":true}}'
    headers:
      Authorization:
      - Bearer e7cd3418f80f9811187e04083784bc7361efc1d6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - b0da0c2de3e479d8474e3133c73386f6a1fdf1ca
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"enabled":true,"login":"","name":"Stripe","slug":"stripe","type":"gateway"}}'
  recorded_at: Sat, 26 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
