---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 9cdb4bf87175d4fc44e3d5c2bad6398c8abe4b96
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492831994,"identifier":"client_credentials","expires_in":3600,"access_token":"26c573729a9404cbdff53b7ab38b1364677f158e","token_type":"Bearer"}
  recorded_at: Sat, 26 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/gateways/stripe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 26c573729a9404cbdff53b7ab38b1364677f158e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 19124e28a2b2b7d36dc50c1cff813d4d7bc1787f
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"enabled":false,"login":"","name":"Stripe","slug":"stripe","type":"gateway"}}'
  recorded_at: Sat, 26 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
