---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 9bc08ca64285f024d5390dff1c64780e36a0ad81
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492832417,"identifier":"client_credentials","expires_in":3600,"access_token":"0c52a8b6cd60fbfcdbe633387adbdd5fbd655b86","token_type":"Bearer"}
  recorded_at: Sat, 26 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/gateways/stripe
    body:
      encoding: UTF-8
      string: '{"data":{"login":"test"}}'
    headers:
      Authorization:
      - Bearer 0c52a8b6cd60fbfcdbe633387adbdd5fbd655b86
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - d38e15e98dfb0696fd47ac56e509ab0f548d0e71
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"enabled":false,"login":"test","name":"Stripe","slug":"stripe","type":"gateway"}}'
  recorded_at: Sat, 26 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
