---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 830d3423fae97820fade086c7a46ce0c6bc78878
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493142144,"identifier":"client_credentials","expires_in":3600,"access_token":"219522bffe7524cb4513ffb9c758ab7e02dc31f6","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 219522bffe7524cb4513ffb9c758ab7e02dc31f6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 85ae7230626483337f14b99c11cc0f73c11935ca
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"product-variation","id":"d1a62d4f-fb16-4610-8200-87e0a8a86d78","name":"My
        Variation","options":[{"id":"9f377bd5-1cbc-45ae-b4a8-5dedc0fa0aac","name":"My
        VariationOption","description":"Cool description","modifiers":[]}]},{"type":"product-variation","id":"bb231ceb-0eaa-46f3-8bae-2a5f1f8f95c8","name":"My
        Variation","options":[]},{"type":"product-variation","id":"0a0fbbda-b7d5-4d02-b65f-8f8c5f11a4c5","name":"","options":[]}],"links":{"current":"https://api.moltin.com/v2/variations?page[limit]=100&page[offset]=0","first":"https://api.moltin.com/v2/variations?page[limit]=100&page[offset]=0","last":null}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/variations/d1a62d4f-fb16-4610-8200-87e0a8a86d78/variation-options
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My VariationOption","description":"Cool description","type":"product-variation-option"}}'
    headers:
      Authorization:
      - Bearer 219522bffe7524cb4513ffb9c758ab7e02dc31f6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 9be0f6b0cd65fd7a7ddaca7f498fb6374e105507
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"d1a62d4f-fb16-4610-8200-87e0a8a86d78","name":"My
        Variation","options":[{"id":"9f377bd5-1cbc-45ae-b4a8-5dedc0fa0aac","name":"My
        VariationOption","description":"Cool description","modifiers":[]},{"id":"99677c20-8945-4dbb-a950-6332e6334a64","name":"My
        VariationOption","description":"Cool description","modifiers":[]}]}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/variations/d1a62d4f-fb16-4610-8200-87e0a8a86d78/variation-options/d1a62d4f-fb16-4610-8200-87e0a8a86d78
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My New VariationOption","type":"product-variation-option","id":"d1a62d4f-fb16-4610-8200-87e0a8a86d78"}}'
    headers:
      Authorization:
      - Bearer 219522bffe7524cb4513ffb9c758ab7e02dc31f6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 0186adce04071b557e0348cf674fee7ea32dfe41
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":404,"detail":"The requested variation option could
        not be found","title":"Variation Option not found"}]}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
