---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - d3f2d31750987457b2839070422210e2439cd8c3
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491557410,"identifier":"client_credentials","expires_in":3600,"access_token":"e21424ba67052b9b4142029a46995d5a73bacc15","token_type":"Bearer"}
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e21424ba67052b9b4142029a46995d5a73bacc15
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 7ed402e39f8dbd4dd2cc568b711717d3d39f90b7
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"26fe6575-c482-41fd-9da0-be9291c54bfd","type":"category","status":"draft","name":"Desk
        & Shelf Clocks","slug":"desk-shelf-clocks","description":"","relationships":{"parent":{"data":[{"type":"category","id":"c9a94042-2427-4ec7-b009-0730740d5ce6"}]}}},{"id":"c9a94042-2427-4ec7-b009-0730740d5ce6","type":"category","status":"draft","name":"Electrical
        Cable Ties","slug":"electrical-cable-ties","description":"","relationships":{"parent":{"data":[{"type":"category","id":null}]},"children":{"data":[{"type":"category","id":"26fe6575-c482-41fd-9da0-be9291c54bfd"}]}}},{"id":"a2b3d7c3-e037-4a43-82ff-6c900909becf","type":"category","status":"draft","name":"Satellite
        Television Receivers","slug":"satellite-television-receivers","description":"","relationships":{"parent":{"data":[{"type":"category","id":null}]}}},{"id":"39514ee3-2e03-4844-ac0f-ae649541c31d","type":"category","status":"draft","name":"Mechanical
        & Wind-Up Alarm Clocks","slug":"mechanical-wind-up-alarm-clock[...]
- request:
    method: delete
    uri: https://api.moltin.com/v2/categories/26fe6575-c482-41fd-9da0-be9291c54bfd/relationships/parent
    body:
      encoding: UTF-8
      string: '{"data":{"type":"category","id":"c9a94042-2427-4ec7-b009-0730740d5ce6"}}'
    headers:
      Authorization:
      - Bearer e21424ba67052b9b4142029a46995d5a73bacc15
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 1215499f87bdb11626a466b4f4bc4aa07a608883
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c9a94042-2427-4ec7-b009-0730740d5ce6","type":"category","status":"draft","name":"Electrical
        Cable Ties","slug":"electrical-cable-ties","description":"","relationships":{"parent":{"data":[{"type":"category","id":null}]},"children":{"data":[{"type":"category","id":"26fe6575-c482-41fd-9da0-be9291c54bfd"}]}}}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/categories/26fe6575-c482-41fd-9da0-be9291c54bfd/relationships/parent
    body:
      encoding: UTF-8
      string: '{"data":{"type":"category","id":"c9a94042-2427-4ec7-b009-0730740d5ce6"}}'
    headers:
      Authorization:
      - Bearer e21424ba67052b9b4142029a46995d5a73bacc15
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 5aeee2b918103498a6b5db56fc21540360a1a694
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c9a94042-2427-4ec7-b009-0730740d5ce6","type":"category","status":"draft","name":"Electrical
        Cable Ties","slug":"electrical-cable-ties","description":"","relationships":{"parent":{"data":[{"type":"category","id":null}]}}}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
