---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - b660d2c28416a3eca647650eaef36ed9f5a46eed
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493137389,"identifier":"client_credentials","expires_in":3600,"access_token":"259e97996408e533a785a21538521fe042997b7a","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Integration","enabled":true,"integration_type":"webhook","observes":["file.created"],"configuration":{"url":"http://example.com"},"type":"integration"}}'
    headers:
      Authorization:
      - Bearer 259e97996408e533a785a21538521fe042997b7a
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 21d707e69e9484569f51a558c6f2cced66711150
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"928b2e88-308a-4646-9e62-034bd40c4fe5","type":"integration","integration_type":"webhook","name":"My
        Integration","enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/928b2e88-308a-4646-9e62-034bd40c4fe5"},"meta":{"timestamps":{"created_at":"2017-04-25T15:23:10.685Z","updated_at":"2017-04-25T15:23:10.685Z"}}}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/integrations/928b2e88-308a-4646-9e62-034bd40c4fe5
    body:
      encoding: UTF-8
      string: '{"data":{"integration_type":null,"type":"integration","id":"928b2e88-308a-4646-9e62-034bd40c4fe5"}}'
    headers:
      Authorization:
      - Bearer 259e97996408e533a785a21538521fe042997b7a
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 0c387d81d3063bd9bfed7f0dd6d04b905fa655fe
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Missing required property: name"}]}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
