---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 09b0f815cda89775646e8b44972af44b625268fc
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493121152,"identifier":"client_credentials","expires_in":3600,"access_token":"f8a6ced165a5d19fca331fb562de0f5462b84c76","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Integration","enabled":true,"integration_type":"webhook","observes":["file.created"],"configuration":{"url":"http://example.com"},"type":"integration"}}'
    headers:
      Authorization:
      - Bearer f8a6ced165a5d19fca331fb562de0f5462b84c76
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 506f243373f45b1699f40abffea72e4b659862ff
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"2b864b76-ac6a-431a-b592-82eb9a87ab0c","type":"integration","integration_type":"webhook","name":"My
        Integration","enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/2b864b76-ac6a-431a-b592-82eb9a87ab0c"},"meta":{"timestamps":{"created_at":"2017-04-25T10:52:33.056Z","updated_at":"2017-04-25T10:52:33.056Z"}}}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/integrations/2b864b76-ac6a-431a-b592-82eb9a87ab0c
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My New Integration","integration_type":"webhook","observes":["file.created"],"configuration":{"url":"http://example.com"},"type":"integration","id":"2b864b76-ac6a-431a-b592-82eb9a87ab0c"}}'
    headers:
      Authorization:
      - Bearer f8a6ced165a5d19fca331fb562de0f5462b84c76
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 0f10dec4fec946e44ae8b4c71812e45cec1470c7
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"2b864b76-ac6a-431a-b592-82eb9a87ab0c","type":"integration","integration_type":"webhook","name":"My
        New Integration","description":null,"enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/2b864b76-ac6a-431a-b592-82eb9a87ab0c"},"meta":{"timestamps":{"created_at":"2017-04-25T10:52:33.056Z","updated_at":"2017-04-25T10:52:34.177Z"}}}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/integrations/2b864b76-ac6a-431a-b592-82eb9a87ab0c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f8a6ced165a5d19fca331fb562de0f5462b84c76
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 6ca705e95698790ff2f7e730f0afe2f1474ace5b
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"integration","id":"2b864b76-ac6a-431a-b592-82eb9a87ab0c"}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
