---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - a34f28a01eefcb614dfe133d2d2f72c92f6f8b3b
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491553232,"identifier":"client_credentials","expires_in":3600,"access_token":"7e8e6c4b333d6975b97324cc2e7d1ee17621416c","token_type":"Bearer"}
  recorded_at: Fri, 07 Apr 2017 07:20:32 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7e8e6c4b333d6975b97324cc2e7d1ee17621416c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - e3dbca2b13d92f9dffce2fe9c0ef67d58f2ab451
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"label":"Type","value":"type","type":"enum","validation":{"regex":"^category$"},"required":true,"options":["category"]},{"label":"Id","value":"id","type":"string","required":true},{"label":"Name","value":"name","type":"string","required":true},{"label":"Slug","value":"slug","type":"string","required":false},{"label":"Status","value":"status","type":"enum","required":false,"default":"draft","options":["draft","live"]},{"label":"Description","value":"description","type":"string","required":false}],"meta":{"entity":"category","version":"2.0.0"}}'
  recorded_at: Fri, 07 Apr 2017 07:20:33 GMT
recorded_with: VCR 3.0.3
