---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - c07df7f7bbf674992aab0bf87400c6c181ee081e
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492354498,"identifier":"client_credentials","expires_in":3600,"access_token":"b5a1aca32942a2b1acc049380158b00a5f190c50","token_type":"Bearer"}
  recorded_at: Sun, 16 Apr 2017 13:54:58 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b5a1aca32942a2b1acc049380158b00a5f190c50
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 06087dc8fb3f1374090466ddf5d1fbabb27f4f94
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"label":"Type","value":"type","type":"enum","validation":{"regex":"^category$"},"required":true,"options":["category"]},{"label":"Id","value":"id","type":"string","required":true},{"label":"Name","value":"name","type":"string","required":true},{"label":"Slug","value":"slug","type":"string","required":false},{"label":"Status","value":"status","type":"enum","required":false,"default":"draft","options":["draft","live"]},{"label":"Description","value":"description","type":"string","required":false}],"meta":{"entity":"category","version":"2.0.0"}}'
  recorded_at: Sun, 16 Apr 2017 13:54:59 GMT
recorded_with: VCR 3.0.3
