---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 5a07707981fa4cf9f5b94325907626188f358897
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492354528,"identifier":"client_credentials","expires_in":3600,"access_token":"80f4fa4b5e2664edf9b34dbe78e3918496a5a233","token_type":"Bearer"}
  recorded_at: Sun, 20 Sep 1987 16:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/categories
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Category","slug":"my-category-update-valid","description":"Super
        Category","status":"live","type":"category"}}'
    headers:
      Authorization:
      - Bearer 80f4fa4b5e2664edf9b34dbe78e3918496a5a233
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 20c4655dd927ce902bad6d2df1172e645349a394
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ad06a569-c661-4ccd-8c7b-d507bf242816","type":"category","status":"live","name":"My
        Category","slug":"my-category-update-valid","description":"Super Category","relationships":{}}}'
  recorded_at: Sun, 20 Sep 1987 16:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/categories/ad06a569-c661-4ccd-8c7b-d507bf242816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 80f4fa4b5e2664edf9b34dbe78e3918496a5a233
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 37018302bf23fef289ecc7fbf5adfa6272c4c171
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"category","id":"ad06a569-c661-4ccd-8c7b-d507bf242816"}}'
  recorded_at: Sun, 20 Sep 1987 16:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories/ad06a569-c661-4ccd-8c7b-d507bf242816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 80f4fa4b5e2664edf9b34dbe78e3918496a5a233
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 7226574c5ddb5a22a1fa8cc188ef6cd49c610ac3
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":404,"detail":"The requested category could not
        be found","title":"Category not found"}]}'
  recorded_at: Sun, 20 Sep 1987 16:00:00 GMT
recorded_with: VCR 3.0.3
