---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 37348ff97787a8c817d2c23c76e2690440548d4b
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491553252,"identifier":"client_credentials","expires_in":3600,"access_token":"f40fc72275e830212e051627af898903ff71b58a","token_type":"Bearer"}
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/categories
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Category","slug":"my-category-update-valid","description":"Super
        Category","status":"live","type":"category"}}'
    headers:
      Authorization:
      - Bearer f40fc72275e830212e051627af898903ff71b58a
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 45fbe651cf4b120f5ede07035d95e60c831e5fd0
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"e8b048b9-3fc5-4d47-949c-7667677df453","type":"category","status":"live","name":"My
        Category","slug":"my-category-update-valid","description":"Super Category","relationships":{}}}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/categories/e8b048b9-3fc5-4d47-949c-7667677df453
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f40fc72275e830212e051627af898903ff71b58a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 9bdc208162f92a2f1d36b3997ae9ebf195fb90c4
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"category","id":"e8b048b9-3fc5-4d47-949c-7667677df453"}}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories/e8b048b9-3fc5-4d47-949c-7667677df453
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f40fc72275e830212e051627af898903ff71b58a
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - a92ae343247187006c3df81945fdbdc89328972c
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":404,"detail":"The requested category could not
        be found","title":"Category not found"}]}'
  recorded_at: Fri, 11 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
