---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - f237a71ebfb7f9df1f9233fff86314036b0d4804
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492354535,"identifier":"client_credentials","expires_in":3600,"access_token":"eda256b7971328547f3e5e66a131b68b0fe58f00","token_type":"Bearer"}
  recorded_at: Sun, 16 Apr 2017 13:55:36 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/categories/tree
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eda256b7971328547f3e5e66a131b68b0fe58f00
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 2923984b9d5ce3391f397e440fd56578b0c0f1db
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"e3176e0b-8807-4423-9ca4-b73785f99e9e","type":"category","status":"draft","name":"Electronics","slug":"electronics","description":""},{"id":"8239117f-e2d3-4093-9954-cba072e7ce39","type":"category","status":"draft","name":"Home
        Automation Hubs & Controllers","slug":"home-automation-hubs-controllers","description":""},{"id":"66f0c57b-0bf7-4a1f-8af4-3870654a9196","type":"category","status":"draft","name":"Camera
        & Photo","slug":"camera-photo","description":""},{"id":"09c83109-7312-40ca-ab04-42d10f18472b","type":"category","status":"draft","name":"Computers
        & Accessories","slug":"computers-accessories",[...]
