---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - f2d732f7fe43837ccc2c443a67e351e07729435d
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1489669943,"identifier":"client_credentials","expires_in":3600,"access_token":"6b4d25a089800446e1890f61d524e733a108e4e4","token_type":"Bearer"}
  recorded_at: Thu, 16 Mar 2017 12:12:23 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/products?page%5Blimit%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6b4d25a089800446e1890f61d524e733a108e4e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - ddbb7202139b361b6ccd5c0b2bf43400d0c71ba6
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"product","id":"4d28b1fd-23d7-48a7-ae12-8b66ee27efd9","name":"My
        Product","slug":"my-product-update-invalid","sku":"123","manage_stock":false,"description":"Super
        Product","price":[],"status":"live","commodity_type":"digital","relationships":{},"meta":{"stock":{"level":0,"availability":"out-stock"}}},{"type":"product","id":"885b8844-e74e-4ed7-9901-f34b0033e00d","name":"My
        Product","slug":"my-product-update-6","sku":"123","manage_stock":false,"description":"Super
        Product","price":[],"status":"live","commodity_type":"digital","relationships":{},"meta":{"stock":{"level":0,"availability":"out-stock"}}},{"type":"product","id":"c5486cf1-b0e9-4ee7-af2e-dac9f0859952","name":"My
        Product","slug":"my-product-update-5","sku":"123","manage_stock":false,"description"[...]
