---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 644368156b4d437228c770a35e30ce14c2f009b5
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493136486,"identifier":"client_credentials","expires_in":3600,"access_token":"ca46fbeb1b0b2dc683b9c81b5039c092ed68c828","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 15:08:06 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Integration","enabled":true,"integration_type":"webhook","configuration":{"url":"http://example.com"},"type":"integration"}}'
    headers:
      Authorization:
      - Bearer ca46fbeb1b0b2dc683b9c81b5039c092ed68c828
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - cf0fbe4e9b66f083b2ed074473cbdfee18724d43
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Missing required property: observes"}]}'
  recorded_at: Tue, 25 Apr 2017 15:08:07 GMT
recorded_with: VCR 3.0.3
