---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - acd13eb90869c697758891db3b85c1942ba68751
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493136481,"identifier":"client_credentials","expires_in":3600,"access_token":"a7030bdee68a87d0ee0cc8077674c09dd7bf1069","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/integrations
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Integration","enabled":true,"integration_type":"webhook","observes":["file.created"],"configuration":{"url":"http://example.com"},"type":"integration"}}'
    headers:
      Authorization:
      - Bearer a7030bdee68a87d0ee0cc8077674c09dd7bf1069
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - fa489d6da83f00ea3f34fd739041963d5b58ab5d
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"082684dd-02ad-4ca8-a4f9-a91f799af735","type":"integration","integration_type":"webhook","name":"My
        Integration","enabled":true,"configuration":{"url":"http://example.com"},"observes":["file.created"],"links":{"self":"https://api.moltin.com/v2/integrations/082684dd-02ad-4ca8-a4f9-a91f799af735"},"meta":{"timestamps":{"created_at":"2017-04-25T15:08:02.946Z","updated_at":"2017-04-25T15:08:02.946Z"}}}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/integrations/082684dd-02ad-4ca8-a4f9-a91f799af735
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a7030bdee68a87d0ee0cc8077674c09dd7bf1069
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - a2585d757d3702f23a1a5fea94ebb097bc0b6590
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"integration","id":"082684dd-02ad-4ca8-a4f9-a91f799af735"}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
