---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - e71fb159929059901eae7f23335d82663d195695
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493140755,"identifier":"client_credentials","expires_in":3600,"access_token":"338e4a632ec3284aa697e7bde279e5e5bfd20109","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 16:19:15 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 338e4a632ec3284aa697e7bde279e5e5bfd20109
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - cbc125d10d1e0574903246406f7c4ed0835a457d
    body:
      encoding: ASCII-8BIT
      string: '[{"status":"400","code":400,"title":"Invalid UUID provided","detail":""}]'
  recorded_at: Tue, 25 Apr 2017 16:19:16 GMT
recorded_with: VCR 3.0.3
