---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - f2ef7a3988040f42afb19be489ff565669468abc
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493140774,"identifier":"client_credentials","expires_in":3600,"access_token":"881e2bea08b68dc7cf629adf6f613f21495ed3d0","token_type":"Bearer"}
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/variations
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Variation","type":"product-variation"}}'
    headers:
      Authorization:
      - Bearer 881e2bea08b68dc7cf629adf6f613f21495ed3d0
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - d9af13be3c4d4152065193d4c502cd0af3307527
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"9ef8a8d4-eed7-4498-9c27-b54244c4f0a9","name":"My
        Variation","options":[]}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/variations/9ef8a8d4-eed7-4498-9c27-b54244c4f0a9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 881e2bea08b68dc7cf629adf6f613f21495ed3d0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - ee34f5766a6ca26c35fba224c9b5c35132512923
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"product-variation","id":"9ef8a8d4-eed7-4498-9c27-b54244c4f0a9"}}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations/9ef8a8d4-eed7-4498-9c27-b54244c4f0a9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 881e2bea08b68dc7cf629adf6f613f21495ed3d0
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 98dc908a110e9b803f608672168139eb8f3f9b94
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":404,"detail":"The requested variation could not
        be found","title":"Variation not found"}]}'
  recorded_at: Tue, 29 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
