---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - c7924c90df6ae10d230b4a3ef588806efd24d58d
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492689158,"identifier":"client_credentials","expires_in":3600,"access_token":"254a4dbcc99ca20a9bde76b31e52ad34799958aa","token_type":"Bearer"}
  recorded_at: Thu, 20 Apr 2017 10:52:38 GMT
recorded_with: VCR 3.0.3
