---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - be1449ebad96e3b1705f45f7fbc741371fa884e2
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493140743,"identifier":"client_credentials","expires_in":3600,"access_token":"87eb6ff9735a25a0f9e16b2eead35bf5d3dd8aed","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 16:19:03 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations?page%5Blimit%5D=10&page%5Boffset%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 87eb6ff9735a25a0f9e16b2eead35bf5d3dd8aed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 47f6d68fa3864e8bba7fc5f96a7072e2a8774667
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 25 Apr 2017 16:19:04 GMT
recorded_with: VCR 3.0.3
