---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 7c70441ac36f0adf4215d0e6131b25cb8f45b324
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493140748,"identifier":"client_credentials","expires_in":3600,"access_token":"21165dc7564caa41a4bf75a637e4cb3527a846fc","token_type":"Bearer"}
  recorded_at: Tue, 25 Apr 2017 16:19:08 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/variations?page%5Boffset%5D=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 21165dc7564caa41a4bf75a637e4cb3527a846fc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 04ff8f63c8b705a682de480b763815e2a5e29e2c
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Tue, 25 Apr 2017 16:19:09 GMT
recorded_with: VCR 3.0.3
