---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 068674b721b8aa9f01c5bf6678efb560dc79ed82
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1492787855,"identifier":"client_credentials","expires_in":3600,"access_token":"f2eab45a2363709b0b75ac57530619c72df0ba2a","token_type":"Bearer"}
  recorded_at: Fri, 25 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/carts/my_secret_cart
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f2eab45a2363709b0b75ac57530619c72df0ba2a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 9998ebd34b2920fb27fce8568f98da48d138ba27
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"cart","id":"my_secret_cart"}]}'
  recorded_at: Fri, 25 Sep 1987 17:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.moltin.com/v2/carts/my_secret_cart
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8f45d0912660aa8ff1858d9cce802443e1b265cf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - cbd0237d0c8b63d27e64802b04458e10d8766a1e
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"my_secret_cart","type":"cart","links":{"self":"https://api.moltin.com/carts/my_secret_cart"},"meta":{"display_price":{"with_tax":{"amount":0,"currency":"","formatted":"0"},"without_tax":{"amount":0,"currency":"","formatted":"0"}},"timestamps":{"created_at":"0001-01-01T00:00:00Z","updated_at":"0001-01-01T00:00:00Z"}}}}'
  recorded_at: Fri, 25 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/carts/my_secret_cart
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8f45d0912660aa8ff1858d9cce802443e1b265cf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 3a3b1191184c022b85317466c9dba6028e45b785
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"cart","id":"my_secret_cart"}]}'
  recorded_at: Fri, 25 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
