---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 74c0dc31e65184454a3177970ca888cb489bbedf
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491759476,"identifier":"client_credentials","expires_in":3600,"access_token":"1b1b34aa48ef68325971a6cd7fefea37e6063792","token_type":"Bearer"}
  recorded_at: Sun, 13 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/collections
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Collection","slug":"my-collection-update-invalid-1","description":"Super
        Collection","status":"live","type":"collection"}}'
    headers:
      Authorization:
      - Bearer 1b1b34aa48ef68325971a6cd7fefea37e6063792
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - ae01e5f42b653dc8dfaaa4d35b1757c6aec0f290
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ea3c4ae2-4ddc-4d1a-8373-5648ccbcb741","type":"collection","status":"live","name":"My
        Collection","slug":"my-collection-update-invalid-1","description":"Super Collection","relationships":{}}}'
  recorded_at: Sun, 13 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/collections/ea3c4ae2-4ddc-4d1a-8373-5648ccbcb741
    body:
      encoding: UTF-8
      string: '{"data":{"name":"","type":"collection","id":"ea3c4ae2-4ddc-4d1a-8373-5648ccbcb741"}}'
    headers:
      Authorization:
      - Bearer 1b1b34aa48ef68325971a6cd7fefea37e6063792
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 94229fdb9b2fb66d0f9c5fd0dc0923c7e3fda8a3
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Failed Validation","detail":"The data.name field
        is required."}]}'
  recorded_at: Sun, 13 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/collections/ea3c4ae2-4ddc-4d1a-8373-5648ccbcb741
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1b1b34aa48ef68325971a6cd7fefea37e6063792
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 4c571ecdf790814a68f8036dcf9f1a0812cfa89f
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"collection","id":"ea3c4ae2-4ddc-4d1a-8373-5648ccbcb741"}}'
  recorded_at: Sun, 13 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
