---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 04431c90b08463c00d9b816df193e1ff51ed8083
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493740563,"identifier":"client_credentials","expires_in":3600,"access_token":"b5543cfcf7c0e59cb41f1d562267a24035993c51","token_type":"Bearer"}
  recorded_at: Tue, 02 May 2017 14:56:03 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/flows/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b5543cfcf7c0e59cb41f1d562267a24035993c51
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 3454c76071f1d552d24ddb929c6773e7c3f99427
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"label":"Id","value":"id","type":"string","required":true},{"label":"Type","value":"type","type":"enum","required":true,"options":["flow"]},{"label":"Name","value":"name","type":"string","required":true},{"label":"Slug","value":"slug","type":"string","required":true},{"label":"Description","value":"description","type":"string","required":true},{"label":"Enabled","value":"enabled","type":"boolean","required":true}],"meta":{"entity":"flow","version":"2.0.0"}}'
  recorded_at: Tue, 02 May 2017 14:56:04 GMT
recorded_with: VCR 3.0.3
