---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 83cbaba313cba55ebe66023dbd4b843de4987018
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493725844,"identifier":"client_credentials","expires_in":3600,"access_token":"77097332064f2bdc9d667c9d805707312f7778fd","token_type":"Bearer"}
  recorded_at: Tue, 06 Oct 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/flows
    body:
      encoding: UTF-8
      string: '{"data":{"name":"reference","slug":"products","description":"Just a
        nice reference.","enabled":false,"type":"flow"}}'
    headers:
      Authorization:
      - Bearer 77097332064f2bdc9d667c9d805707312f7778fd
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - e2dea3d51ebb6055b4c6fce26be3e80c400e30cf
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"f14015ce-436a-427f-bfed-e2244105301a","type":"flow","name":"reference","slug":"products","description":"Just
        a nice reference.","enabled":false,"links":{"self":"https://api.moltin.com/flows/f14015ce-436a-427f-bfed-e2244105301a"},"relationships":{},"meta":{"timestamps":{"created_at":"2017-05-02T10:50:45.622Z","updated_at":"2017-05-02T10:50:45.622Z"}}}}'
  recorded_at: Tue, 06 Oct 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
