---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - d5d84ff0cd377737a69d89af9cdbaaaca21731ea
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491386026,"identifier":"client_credentials","expires_in":3600,"access_token":"a024b2820b95abb32172ba6d74a26a37c77216a9","token_type":"Bearer"}
  recorded_at: Wed, 09 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/brands
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Brand","slug":"my-brand-update-invalid-1","description":"Super
        Brand","status":"live","type":"brand"}}'
    headers:
      Authorization:
      - Bearer a024b2820b95abb32172ba6d74a26a37c77216a9
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 5f748f9486bfb63fd0b2e1ce7c29623f232383c1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30d75e7d-ef4c-4376-aa2d-5978b89cb6ef","type":"brand","status":"live","name":"My
        Brand","slug":"my-brand-update-invalid-1","description":"Super Brand","relationships":{}}}'
  recorded_at: Wed, 09 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/brands/30d75e7d-ef4c-4376-aa2d-5978b89cb6ef
    body:
      encoding: UTF-8
      string: '{"data":{"name":"","type":"brand","id":"30d75e7d-ef4c-4376-aa2d-5978b89cb6ef"}}'
    headers:
      Authorization:
      - Bearer a024b2820b95abb32172ba6d74a26a37c77216a9
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 01a02f9f4a910ef626c109214bd83407b37e0a0d
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Failed Validation","detail":"The data.name field
        is required."}]}'
  recorded_at: Wed, 09 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/brands/30d75e7d-ef4c-4376-aa2d-5978b89cb6ef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a024b2820b95abb32172ba6d74a26a37c77216a9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 34a63c263d2fa71b52b236769581398eaf2dcba0
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"brand","id":"30d75e7d-ef4c-4376-aa2d-5978b89cb6ef"}}'
  recorded_at: Wed, 09 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
