---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 3e11d6526a87bcfe278950834b0d698d5d1b9454
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491386021,"identifier":"client_credentials","expires_in":3600,"access_token":"801dd43de757b1f313b20fbdaea0d17466474473","token_type":"Bearer"}
  recorded_at: Wed, 09 Sep 1987 17:00:00 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/brands
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My Brand","slug":"my-brand-update-valid","description":"Super
        Brand","status":"live","type":"brand"}}'
    headers:
      Authorization:
      - Bearer 801dd43de757b1f313b20fbdaea0d17466474473
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 537f91317194cd57acadc041805827dab8768bf1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1dffb84a-358c-42fc-8478-208efb6b3e4d","type":"brand","status":"live","name":"My
        Brand","slug":"my-brand-update-valid","description":"Super Brand","relationships":{}}}'
  recorded_at: Wed, 09 Sep 1987 17:00:00 GMT
- request:
    method: put
    uri: https://api.moltin.com/v2/brands/1dffb84a-358c-42fc-8478-208efb6b3e4d
    body:
      encoding: UTF-8
      string: '{"data":{"name":"My New Brand","type":"brand","id":"1dffb84a-358c-42fc-8478-208efb6b3e4d"}}'
    headers:
      Authorization:
      - Bearer 801dd43de757b1f313b20fbdaea0d17466474473
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 2628fa81bfb4811d4c647ba9074119380fa70cd9
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1dffb84a-358c-42fc-8478-208efb6b3e4d","type":"brand","status":"live","name":"My
        New Brand","slug":"my-brand-update-valid","description":"Super Brand","relationships":{}}'
  recorded_at: Wed, 09 Sep 1987 17:00:00 GMT
- request:
    method: delete
    uri: https://api.moltin.com/v2/brands/1dffb84a-358c-42fc-8478-208efb6b3e4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 801dd43de757b1f313b20fbdaea0d17466474473
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 7f9e13a9702c889a6a3bdaf897f5e001273c9326
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"brand","id":"1dffb84a-358c-42fc-8478-208efb6b3e4d"}}'
  recorded_at: Wed, 09 Sep 1987 17:00:00 GMT
recorded_with: VCR 3.0.3
