---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - ef153994aa8be7acbbf27c99fb0a8d7a740bbca0
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1489137584,"identifier":"client_credentials","expires_in":3600,"access_token":"d16f585433864f8b9a7ba088d2c3b8aaa4d1f972","token_type":"Bearer"}
  recorded_at: Fri, 10 Mar 2017 08:19:44 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d16f585433864f8b9a7ba088d2c3b8aaa4d1f972
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - f1b44efdca85a705684690c9520e1653ee3fc6c5
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"counts":{"matching_resource_count":0}}}'
  recorded_at: Fri, 10 Mar 2017 08:19:45 GMT
recorded_with: VCR 3.0.3
