---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 96e40ec0eedfadc8e468b14d921b0b52700c0222
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1489226381,"identifier":"client_credentials","expires_in":3600,"access_token":"8747ed56d0e87faf21402f5670beca7076fdcacc","token_type":"Bearer"}
  recorded_at: Sat, 11 Mar 2017 08:59:41 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/products/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8747ed56d0e87faf21402f5670beca7076fdcacc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - e4d76daad07bd552c3c8751e8caa507c78dcef71
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"label":"Type","value":"type","type":"enum","validation":{"regex":"^product$"},"required":true,"default":"product","options":["product"]},{"label":"Id","value":"id","type":"string","required":true},{"label":"Name","value":"name","type":"string","required":true},{"label":"Slug","value":"slug","type":"string","required":true},{"label":"Sku","value":"sku","type":"string","required":true},{"label":"Manage
        Stock","value":"manage_stock","type":"boolean","required":true},{"label":"Description","value":"description","type":"string","required":true},{"label":"Price","value":"price","type":"array","required":false,"items":[{"label":"Amount","value":"amount","type":"integer","required":true},{"label":"Currency","value":"currency","type":"string","required":true},{"label":"Includes
        Tax","value":"includes_tax","type":"boolean","required":true}]},{"label":"Status","value":"status","type":"enum","required":true,"default":"draft","options":["draft","live"]},{"label":"Commodity
        Type","value":"commodity_type","type":"enum","required":true,"default":"physical","options":["physical","digital"]},{"label":"Dimensions","value":"dimensions","type":"array","required":false,"items":[{"label":"Unit","value":"unit","type":"string","required":true},{"label":"Value","value":"value","type":"number","required":true},{"label":"Measurement","value":"measurement","type":"enum","required":true,"options":["length","width","height"]}]},{"label":"Weight","value":"weight","type":"object","required":false,"object":[{"label":"Unit","value":"unit","type":"enum","required":true,"options":["g","kg","lb","oz"]},{"label":"Value","value":"value","type":"number","required":true}]}],"meta":{"entity":"product","version":"2.0.0"}}'
  recorded_at: Sat, 11 Mar 2017 08:59:42 GMT
recorded_with: VCR 3.0.3
