---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - bbd32a3c14356be8fe196e64b32e049f2f87c7b0
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1493834476,"identifier":"client_credentials","expires_in":3600,"access_token":"84bfe465e230d3bb570c9ab6308081a683640cfc","token_type":"Bearer"}
  recorded_at: Wed, 03 May 2017 17:01:16 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/products/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 84bfe465e230d3bb570c9ab6308081a683640cfc
      X-Moltin-Language:
      - en
      X-Moltin-Currency:
      - USD
      X-Moltin-Locale:
      - en_gb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 6cc4cd6a5b65d5e3da98b8dbe074b9e18bba3762
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"label":"Type","value":"type","type":"enum","validation":{"regex":"^product$"},"required":true,"default":"product","options":["product"]},{"label":"Id","value":"id","type":"string","required":true},{"label":"Name","value":"name","type":"string","required":true},{"label":"Slug","value":"slug","type":"string","required":true},{"label":"Sku","value":"sku","type":"string","required":true},{"label":"Manage
        Stock","value":"manage_stock","type":"boolean","required":true},{"label":"Stock","value":"stock","type":"integer","required":false},{"label":"Description","value":"description","type":"string","required":true},{"label":"Price","value":"price","type":"array","required":false,"items":[{"label":"Amount","value":"amount","type":"integer","required":true},{"label":"Currency","value":"currency","type":"string","required":true},{"label":"Includes
        Tax","value":"includes_tax","type":"boolean","required":true}]},{"label":"Status","value":"status","type":"enum","required":true,"default":"draft","options":["draft","live"]},{"label":"Commodity
        Type","value":"commodity_type","type":"enum","required":true,"default":"physical","options":["physical","digital"]},{"label":"Dimensions","value":"dimensions","type":"array","required":false,"items":[{"label":"Unit","value":"unit","type":"string","required":true},{"label":"Value","value":"value","type":"number","required":true},{"label":"Measurement","value":"measurement","type":"enum","required":true,"options":["length","width","height"]}]},{"label":"Weight","value":"weight","type":"object","required":false,"object":[{"label":"Unit","value":"unit","type":"enum","required":true,"options":["g","kg","lb","oz"]},{"label":"Value","value":"value","type":"number","required":true}]}],"meta":{"entity":"product","version":"2.0.0"}}'
  recorded_at: Wed, 03 May 2017 17:01:17 GMT
recorded_with: VCR 3.0.3
