---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - 5337840e8f28263d184b8bc539d3961ea0a8ab6c
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1489137733,"identifier":"client_credentials","expires_in":3600,"access_token":"a5b50f7eae50a2de49fb5b8b07f4e85ad67247b1","token_type":"Bearer"}
  recorded_at: Fri, 10 Mar 2017 08:22:13 GMT
- request:
    method: get
    uri: https://api.moltin.com/v2/products/1467284070747603830
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a5b50f7eae50a2de49fb5b8b07f4e85ad67247b1
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - d7ef33d92fdb9667aa695d2bd52da34abdc7f8de
    body:
      encoding: ASCII-8BIT
      string: '[{"status":"400","code":400,"title":"Invalid UUID provided","detail":""}]'
  recorded_at: Fri, 10 Mar 2017 08:22:14 GMT
recorded_with: VCR 3.0.3
