---
http_interactions:
- request:
    method: post
    uri: https://api.moltin.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FTtrUHsKHstAOtAhN2VjKbpvK08ZXOKZ0GAQaiIAcc&client_secret=iFUwmVrwIOWwJrSR70gUtNQ5vIKRwc2RJVyXdid4tc&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth-Served-By:
      - Moltin-Auth
      X-Moltin-Request-Id:
      - cccfcb1b8011bffb542b65140b48fd44576d6016
    body:
      encoding: ASCII-8BIT
      string: |
        {"expires":1491759469,"identifier":"client_credentials","expires_in":3600,"access_token":"be8ed0c98a9cfd13c5cbe1719b96f32020d44903","token_type":"Bearer"}
  recorded_at: Sun, 09 Apr 2017 16:37:49 GMT
- request:
    method: post
    uri: https://api.moltin.com/v2/collections
    body:
      encoding: UTF-8
      string: '{"data":{"slug":"my-collection1","description":"Super Collection","status":"live","type":"collection"}}'
    headers:
      Authorization:
      - Bearer be8ed0c98a9cfd13c5cbe1719b96f32020d44903
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Moltin-Request-Id:
      - 51f3ce74204a19da82239bc843b529e1a9aa6cbf
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Failed Validation","detail":"The data.name field
        is required."}]}'
  recorded_at: Sun, 09 Apr 2017 16:37:50 GMT
recorded_with: VCR 3.0.3
